streamlit==1.31.0
pillow==10.2.0
numpy==1.26.4
streamlit-option-menu==0.3.12
streamlit-aggrid==0.2.2.post4
streamlit-geolocation==0.1.0
geopy==2.4.1
folium==0.15.1
streamlit-folium==0.15.1
requests==2.31.0
passlib==1.7.4
mysql-connector-python==8.3.0
python-dotenv==1.0.1
streamlit-authenticator==0.2.3