streamlit>=1.44.0
pillow>=11.0.0
numpy>=1.26.0
streamlit-option-menu>=0.3.2
streamlit-aggrid==0.2.2.post4
streamlit-geolocation==0.0.10
geopy==2.4.1
folium>=0.15.0
streamlit-folium>=0.18.0
requests>=2.31.0
